<div class="containerH container-content-centered grow">
  <div class="containerV" id="main">
    <h1>Réalisation</h1>
    <h2>Contributeurs.trice.s</h2>
    <h3>Personnes physiques</h3>
    <div class="columns-2">
      <div>Alexandre Pichon</div>
      <div>
        <div>Developpement interface web</div>
      </div>
      <div>Valentin Le Bescond</div>
      <div>
        <div>Développement serveur</div>
        <div>Développement interface web</div>
      </div>
      <div>Jordan Bouchoucha</div>
      <div>
        <div>Génération de PDF (interface et serveur)</div>
      </div>
      <div>Simon Louvet</div>
      <div>
        <div>Développement inteligence artificielle</div>
        <div>Pilotage</div>
        <div>Achitecture Logicielle</div>
        <div>Développement interface web</div>
        <div>Développement serveur</div>
      </div>
      <div>Antton Curutchet</div>
      <div>
        <div>Administration des données (Benevoles)</div>
        <div>Tests</div>
        <div>Recueil des besoins</div>
      </div>
      <div>Philomène Fontana</div>
      <div>
        <div>Administration des données (Formations et autres activités)</div>
        <div>Tests</div>
      </div>
    </div>


    <h3>Personnes morales</h3>
    <div class="columns-2">
      <img src="http://info.iadvize.com/hubfs/Espace_Presse/iadvize-black.png"></img>
      <div>Mise a disposition de temps salarié (Alexandre Pichon)</div>
      <img src="https://i2.wp.com/data-players.com/wp-content/uploads/2019/02/Data-Players-v2.png"></img>
      <div>Mise à disposition de grappe.io pour le traitement de données (interopérailité HelloAsso, alimentation Inteligence Artificielle)</div>
    </div>

    <h2>Techologies</h2>
    <h3>Interface</h3>
    <div>L'interface est entièrement developpée en web components. C'est un standard W3C de developpment d'interface web d'applicaption par composant. Il permet de ne dépendre d'aucun framework applicatif et de garantir une maintenance
      sur le long terme</div>
    <h3>Serveur </h3>
    <div>Serveur NodeJS</div>
    <h3>Inteligence artificielle</h3>
    <div>Pour générer le programme, nous avons developpé une inteligence artificielle prédictive (A*) capable de produire le programme du camp climat en tenant compte de nombreuses contraintes (date de présence des personnes, salles disponibles et
      leur jauge, formations à dispenser et leur jauge, materiel necessaire pour les formations et disponiles dans les salles, dependances entre activités, activités déjà affecté hors IA...)</div>
    <h3>Traitement de données</h3>
    <div>plusieurs outils et données necessitaient d'etre interconnecté (données et contraintes des activité, Inteligence Artificille, HelloAsso, programme final des activités, l'application). Nous avons utilisé le Bus sémantique pour cela</div>
    <h3>Inscriptions et paiement</h3>
    <div>L'inscription à l'application necessite de s'être préinscrit.e et payé sur HelloAsso</div>
    <h3>Infrastructure</h3>
    <div>La base de donnée MongoDB est hebergée sur MongoAtlas</div>
    <div>Le serveur de l'application (NodeJs) est hebergé chez Heroku</div>
    <div>L'interface web est hebergée chez framagit</div>
    <div>Les données entrantes sont hebergées sur Google Sheet</div>
    <div>L'Intéligence Artificelle (NodeJs) est hebergée chez Heroku</div>
    <div>Le Bus Sémantique est hebergé par Data Players (grappe.io)</div>
  </div>

</div>

<style>
  .columns-2 {
    display: grid;
    grid-template-columns: 10rem 30rem;
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }

  .columns-3 {
    display: grid;
    grid-template-columns: 10rem 10rem 20rem;
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }

  #main {
    max-width: 40rem;
  }

  img {
    width: 10rem;
  }
</style>
