<div id="infoPanel" class="hide">
  <p>Le 31 juillet et le 11 Août sont des journées de montage et de démontage du Camp Climat. Il n’y a donc pas de formations dispensées ces jours-là. Nous t’invitons à t’inscrire sur les différents créneaux de montage. Ces derniers ne comptent pas
    dans ta jauge de bénévolat.</p>
</div>
<div id="emptyPanel" class="hide">
  <p>Si tu ne vois rien sur cette page c'est sans doute que tu as mal saisi tes heures d'arrivée et de départ</p>
</div>
<div id="sessions-list">

</div>
<style>
  #sessions-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }

  #infoPanel {
    padding: 10px;
    margin: 20px;
    font-size: 1.5em;
    color: white;
    background: orange;
    border-radius: 10px;
  }

  .hide {
    display: none;
  }
</style>
