<div class="session">
  <div class="containerH space-between">
    <div name="domain"></div>
    <div ><a name="info" href-base="#/x-session-detail?session=" class="hide"></a></div>
    <div class="containerH">
      <div name="curriculums" class="containerH"></div>
    </div>
  </div>

  <div class="contentContainer">
    <div class="containerH space-between">
      <div>
        <span class="time">
          <span class="from"></span>
          <span class="to"> </span>
        </span>
      </div>
      <div>
        <button class="register"></button>
      </div>
    </div>
    <div class="slots"></div>
    <div class="error"></div>
    <x-expandable-text id="expandableText" maxHeightExpand="162">
      <div slot="content">
        <div class="title"></div>
        <div class="meta">
          <span>Lieu : </span><span class="location"></span>
        </div>
        <div class="meta">
          <span class="refererLabel"></span><span> : </span><span class="trainer"></span>
        </div>
        <p class="important"></p>
        <p class="abstract">
      </div>
    </x-expandable-text>
  </div>


</div>
<style>


  .session {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    transition: box-shadow 0.2s ease-out;
    min-height:265px;
  }

  .highlighted {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .3);
  }

  .meta {
    font-size: 0.8rem;
    font-weight: bold;
    color: #666;
    margin-bottom: 0.0rem;
  }
  .contentContainer{
    padding: 0.5rem;
  }

  .location:after {
    content: "";
    padding: 0.5rem;
  }

  .time {
    font-size: 1.5rem;
    font-weight: bold;
    color: #34393F;
  }

  .title{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .from:after {
    content: "-";
    margin-left: 0.3rem;
  }

  h3 {
    margin: 0.8rem 0 0rem 0;
    font-size: 1rem;
    color: #34393F;
  }

  p {
    color: #34393F;
    margin: 0.4rem 0;
    font-size: 0.9rem;
  }

  .slots {
    color: #666;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .slots.conflict {
    color: #F43940;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .conflict {
    opacity: 0.5;
  }

  .error {
    color: red;
  }

  button.register {
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */

    background: #7daf8a;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    min-width: 7.5rem;
  }

  button.register.disabled,
  button.register.disabled:hover {
    background: lightgray !important;
    box-shadow: none;
    cursor: initial;
  }

  button.register:hover {
    background: #087f49;
    box-shadow: black 0 0 1px 0;
    border: none;
  }

  button.register.registered {
    background: #d9534f;
  }

  button.register.registered:hover {
    background: #dc3545;
  }

  .important {
    font-style: italic;
  }

  img {
    width: 40px;
    height: 40px;
  }

  .greyFilter {
    filter: grayscale(100%);
  }

  .hide{
    display:none;
  }
</style>
