<fieldset>
  <legend>Connexion</legend>
  <div id="errors"></div>
  <form id="signin" method="post" autocomplete="on">
    <label for="login">Email : </label>
    <div class="flex"><input type="email" name="id" id="login" placeholder="email" autocomplete="username"></div>
    <label for="password">Mot de passe : </label>
    <div class="flex"><input type="password" name="password" id="password" placeholder="mot de passe" autocomplete="current-password"></div>
    <div id="footer">
      <button type="submit" value="Suivant" id="submit">Suivant</button>
      <div id="links">
        <div><a href="#/x-forgot-password">Mot de passe oublié</a></div>
        <div><a href="#/x-signup">S'inscrire</a></div>
      </div>
    </div>
  </form>
  <p class="help">Assistance <a href="mailto://application-campclimat@alternatiba.eu">campclimat-application@alternatiba.eu</a></p>
</fieldset>

<style>
    #errors {
      color: red;
    }
    fieldset {
      max-width: 25rem;
      margin: 1.8rem auto;
      border-radius: 0.3rem;
      font-family: sans-serif;
      line-height: 1.8rem;
      padding: 1.8rem;
      border: 1px solid darkgray;
      color: #202124;
    }
    legend {
      font-size: 1.4rem;
      padding: 0 1rem;
    }
    form {
      margin-top: 1rem;
    }
    label {
      display: block;
    }
    input {
      font-size: 1.4rem;
      display: block;
      border-radius: 0.3rem;
      border: 1px solid darkgray;
      padding: 13px 15px;
      margin-bottom: 2rem;
      flex-grow: 1;
      flex-shrink: 1;
    }
    #submit {
      text-align: right;
      float: right;
      background: #7daf8a;
      padding: 13px 15px;
      border-radius: 0.3rem;
      border: 0;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
    }
    #submit:hover {
      background: #087f49;
      box-shadow: black 0 0 1px 0;
    }
    .flex{
      display: flex;
    }
    .help {
      margin-top: 5rem;
      font-size: 0.9rem;
    }
</style>
