<header>
  <div class="adminHeader" class="hide">
    <p>Vous êtes connecté sur le compte <span class="userEmail"></span></p>
    <button class="changeUser">Changer de campeur</button>
  </div>
  <div class="normalHeader">
    <nav>
      <elix-hamburger-menu-button>
        <div id="x-registration-guide" class="item"><a href="#/x-registration-guide">Guide d'inscription</a></div>
        <div id="x-informations" class="item"><a href="#/x-informations">Mon compte</a></div>
        <div id="x-register" class="item"><a href="#/x-register?day=1">M'inscrire aux sessions</a></div>
        <div id="x-agenda" class="item"><a href="#/x-agenda">Visualiser et imprimer mon planning</a></div>
        <div id="x-users-list" class="item admin hide"><a href="#/x-users-list">Liste des campeurs</a></div>
        <div id="x-printer" class="item admin hide"><a href="#/x-printer">Impressions</a></div>
        <div id="x-credits" class="item"><a href="#/x-credits">Réalisation</a></div>
        <div id="logout"><button>Se déconnecter</button></div>
      </elix-hamburger-menu-button>
    </nav>
    <div id="progressBar-container">
      <x-progress-bar value="0"></x-progress-bar>
    </div>
    <div id="gauge-container">
      <x-gauge min="0" max="10" value="0"></x-gauge>
    </div>
  </div>
</header>

<style>
  /* header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  } */
  .normalHeader {
    background: white;
    border-bottom: 1px solid #e7e7e7;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  @media print {
    header {
      display: none;
    }
  }
  .adminHeader{
    text-align: center;
    background-color: orangered;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  .adminHeader.me{
    background-color: greenyellow !important;
  }

  #gauge-container {
    width: 10%;
    min-width: 80px;
  }
  #progressBar-container {
    width: 30%;
    min-width: 120px;
  }
  nav {
    width: 10%;
  }
  nav>* {
    margin-right: 2rem;
  }

  elix-hamburger-menu-button {
    padding: 1.2rem;
    margin-right: 0.5rem;
  }
  elix-hamburger-menu-button>* {
    padding: 1rem;
    margin: 0;
    font-family: sans-serif;
    border-left: 4px solid transparent;
    transition: all 0.2s;
  }
  .item:hover {
    border-left-color: #7daf8a;
  }
  .selected:hover {
    border-left-color: #087f49;
  }
  .item:hover>a {
    color: #087f49;
  }
  .selected {
    border-left-color: #087f49;
  }

  a{
    text-decoration: none;
    color: #7daf8a;
    transition: all 0.2s;
  }
  .selected a{
    text-decoration: none;
    color: #087f49;
  }
  .hide{
    display : none;
  }

</style>
