<!-- <button>🔝</button> -->
<img id="scrollTop"></img>
<style>
  button {

  }
  .visible {
    opacity: 0.6;
    bottom: 1.2rem;
  }
  .visible:hover {
    cursor: pointer;
  }

  img{
    width :40px;
    height : 40px;
    position: fixed;
    bottom: -1.2rem;
    left: 1.2rem;
    font-size: 1.2rem;
    background: none;
    opacity: 0;
    border: none;
    transition: all 0.6s ease;
  }
</style>
