<div class="containerV grow">
  <h1 class="title">Liste des campeur.euse.s</h1>
  <div class="containerH container-content-centered">
    <div class="query ">
      <input class="queryInput" type="text" placeholder="Recherche de campeur (nom, prénom, email ou n° de ticket)" />
    </div>
  </div>

  <div class="containerH container-content-centered">
    <div class="list">
    </div>
  </div>

</div>
<template id="row">
  <div class="ticket"></div>
  <div class="email"></div>
  <div>
    <span class="firstname"></span> &nbsp;
    <span class="lastname"></span>
  </div>
  <div class="buttons">
    <button class="selectButton">Sélectionner</button>
  </div>
</template>

<style>
  .title {
    text-align: center;
    margin-bottom: 30px;
  }

  .query {
    display: flex;
    margin: 20px;
  }

  .queryInput {
    flex: 1 1;
  }

  .list {
    display: grid;
    grid-template-columns: auto auto auto 40px;
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }
</style>
