
  <x-navigation-menu id="menu"></x-navigation-menu>
  <div id="screen"></div>
<style>
  @media screen,handheld,projection,tv,tty {
    /* #main{
      position:absolute;
      bottom:0;
      top:0;
      right:0;
      left:0;
    } */
  }
  @media print {
    #main{
      position : relativ;
    }
  }
   /* #screen{
    padding:1rem 0 0 0;
  } */
/*
  .admin {
    margin:8rem 0 0 0 !important;
  } */

  #menu{
    position        : fixed;
    top             : 0;
    width : 100%;
    z-index: 5;
  }
  #screen{
    margin-top : 150px;
  }
  .hide{
    display:none;
  }

  @media print {
    #screen{
      margin:0;
    }
  }
</style>
