<div class="containerV grow scrollable">
  <div class="containerH grow container-content-centered">
    <fieldset>
      <legend>Tes informations</legend>
      <form id="form" class="form">
        <label for="firstname">Prénom *</label>
        <div class="flex">
          <input type="text" name="firstname" id="firstname" />
        </div>
        <label for="lastname">Nom *</label>
        <div class="flex">
          <input type="text" name="lastname" id="lastname" />
        </div>
        <label for="arrival">Quand arrives-tu au Camp Climat ? *</label>
        <span id="arrival-error" class="error"></span>
        <div class="flex">
          <input type="date" name="arrivalDate" id="arrivalDate" value="2019-07-31" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
          <input type="time" name="arrivalHour" id="arrivalHour" value="00:00" required pattern="[0-9]{2}:[0-9]{2}" />
        </div>
        <label for="departure">Quand repars-tu ? *</label>
        <span id="departure-error" class="error"></span>
        <div class="flex">
          <input type="date" name="departureDate" id="departureDate" value="2019-08-11" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
          <input type="time" name="departureHour" id="departureHour" value="00:00" required pattern="[0-9]{2}:[0-9]{2}" />
        </div>
        <div class="containerV hide" id="paidContainer">
          <label for="departure">La personne est bien arrivée et à payé</label>
          <div>
            <input type="checkbox" name="paid" id="paid"/>
          </div>
        </div>
        <label for="phone">Numéro de téléphone ? *</label>
        <div class="flex">
          <input type="tel" name="phone" id="phone" />
        </div>
        <label for="origin">D'où viens-tu ?</label>
        <div class="flex">
          <input type="text" name="origin" id="origin" />
        </div>
        <label>Ton planning est modifiable même une fois sur le camp, c’est pourquoi nous ne pouvons te l’imprimer. Tu y auras accès en permanence sur l’application mais tu peux également te l’imprimer en amont en cliquant sur “Imprimer mon planning”
          dans le menu de gauche.</label>
        <label for="wantPrint">Veux-tu que l'on imprime un livret d'accueil ?</label>
        <div class="containerV">
          <div>
            <input type="checkbox" name="wantPrint" id="wantPrint" />
          </div>
        </div>
        <label>Pour t’aider à faire des choix dans les formations tu peux opter pour l’un des cursus ci-dessous et ainsi plusieurs formations seront mise en valeur à titre indicatif.</label>
        <div class="containerV" id="curriculumsContainer">
        </div>
        <label for="comments">As-tu des informations supplémentaires à nous préciser ?</label>
        <div class="flex">
          <textarea name="comment" id="comment" rows="5"></textarea>
        </div>
        <input type="submit" id="submit" value="Suivant">
      </form>
    </fieldset>

  </div>
</div>
</div>
<template id="curriculumTemplate">
  <div name="option" class="containerH">
    <div>
      <input type="checkbox" name="curriculumCheck" value="test" />
    </div>
    <div name="asset">
    </div>
    <div name="curriculumLabel"></div>
    <div>

</template>
<style>
  label {
    display: block;
    margin-top: 0.5rem;
  }

  #departure,
  #arrival {
    font-size: 1.2rem;
  }

  .error {
    color: red;
  }

  .form {
    max-width: 40rem;
  }

  /* .form {
    flex-basis: 25rem;
    border: 1px solid darkgray;
  } */

  legend {
    font-size: 1.4rem;
    padding: 0 1rem;
  }

  form {
    margin-top: 1rem;
  }

  label {
    display: block;
  }

  input,
  textarea {
    font-size: 1.2rem;
    display: block;
    border-radius: 0.3rem;
    border: 1px solid darkgray;
    padding: 13px 15px;
    margin-bottom: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: system-ui, sans-serif;
  }

  #submit {
    text-align: right;
    float: right;
    background: #7daf8a;
    padding: 13px 15px;
    border-radius: 0.3rem;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }

  #submit:hover {
    background: #087f49;
    box-shadow: black 0 0 1px 0;
  }

  .flex {
    display: flex;
  }

  [name="curriculumCheck"] {
    margin-bottom: 0px;
  }

  img {
    width: 30px;
    height: 30px;
  }
  .hide{
    display:none !important;
  }
</style>
