<section id="signup-help">
  <h1>Bienvenue sur le site d'inscription au camp climat</h1>
  <p>
      Le Camp Climat se déroulera à Kingersheim, du 31 juillet au 11 août 2019.
  </p>
  <h2>Etape 1 : Pré-inscription sur Helloasso</h2>
  <p>
    L’inscription est obligatoire, elle nous permet d’assurer les meilleures conditions d’accueil aux participant-e-s.
    <br/>
    Un acompte de 25 euros te sera demandé à l’issue de cette inscription quelle que soit la durée de ton séjour.
    <br/>
    <a href="https://www.helloasso.com/associations/alternatiba/evenements/inscription-au-camp-climat-20199" target="blank" id="hello">
      Effectuer ma pré-inscription sur Helloasso
    </a>
  </p>
  <h2>Etape 2 : Créer ton compte Camp Climat</h2>
  <p>
    Important, tu dois utiliser le numero de billet fourni par HelloAsso.
    Ton compte Camp Climat te permettra d'accéder à ton espace personnel où tu pourras :
    <ul>
      <li>Consulter le planning des formations</li>
      <li>T'inscrire aux sessions de formation et aux créneaux de bénévolat</li>
      <li>Imprimer ton planning personnel pour ne rien oublier</li>
    </ul>
    <p>
      toute personne à partir de 3 ans doit réaliser son inscription, parents  pensez-bien à créer un compte différent pour chacun de vos enfants (avec des adresses mails différentes cf FAQ)
    </p>
    <a href="#/x-signup" id="signup">Créer mon compte Camp Climat.</a>
  </p>
  <h2>Etape 3 : Connecte toi à ton espace</h2>
  <p>
    C'est parti pour le Camp Climat !
    <a href="#/x-signin" id="signin">Me connecter à mon espace Camp Climat</a>
  </p>

  <h2>Etape 4 : Inscris-toi à la Simul'action</h2>
  <p>
    Remplis le formulaire suivant :
    <a href="http://frama.link/panique-au-seum-it" id="simulaction" target="_blank">M'inscrire à la Simul'action</a>
  </p>

</section>
<style>
  #signup-help {
    margin: auto;
    max-width: 50rem;
  }
  ul {
    margin: 0.4rem;
  }
  p {
    margin: 0.4rem 0;
    line-height: 1.2rem;
  }
  h1 {
    font-size: 1.6rem;
    margin: 0 0 0.4rem 0;
  }
  h2 {
    font-size: 1.2rem;
    margin: 2rem 0 0.4rem 0;
  }
  #hello, #signin, #signup, #simulaction {
    display: block;
    margin: 0.4rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  #simulaction {
    margin-bottom: 10rem;
  }

</style>
