<section class="container">
  <div class="special-text -expanded">
    <slot name="content"></slot>
  </div>
  <button class="expand-button">
    +
  </button>
</section>
<style>
  .container.disabled>.expand-button {
    display: none;
    background: pink;
  }

  .expand-button {
    cursor: pointer;
    display: block;
    margin: auto;
    border: none;
    color: #202124;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    font-size: 0.8rem;
    padding: 0rem;
    font-weight: bold;
    margin-top: 0.2rem;
    line-height: 0.4rem;
    width: 100%;
    background: none;
  }

  .container:hover {
    cursor: pointer;
  }

  .container.disabled:hover {
    cursor: inherit;
  }

  .container:hover .expand-button {
    opacity: 1;
  }

  .expand-button:hover,
  .expand-button:active,
  .expand-button:focus {
    box-shadow: none;
    border: none;
    outline: none;
  }

  .special-text {
    position: relative;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .special-text.-expanded {
    max-height: 100%;
  }

  .special-text:not(.-expanded)::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }

  p {
    margin: 0;
  }
</style>
