<div class="containerH container-content-centered grow scrollable">
  <div id="content">
    <h1>Bienvenue, voici quelques informations pour te guider lors de ton inscription et de la planification de ton programme.</h1>
    <p>Le planning des formations du Camp Climat est téléchargeable <a target="_blank" href="https://drive.google.com/file/d/1h5-lBebBTEly0l5i6HcDedDVsfz2xYal/view">ici</a></p>
    <p>Le programme complet est téléchargeable <a target="_blank" href="https://drive.google.com/file/d/16YAKFDlMxtb955FyfUoN9cs0Dm3k7347/view">ici</a></p>
    <p>Le livret d'accueil est téléchargeable <a target="_blank" href="https://drive.google.com/file/d/1HJPQQLEiZfOlIR7LkKL6APpu6fSmGkH3/view">ici</a></p>
    <p>Le tuto d'utilisation de l'application est téléchargeable <a target="_blank" href="https://drive.google.com/file/d/173vFcv_QI5yjR33H6v4SLHmDiHDSBAJb/view">ici</a></p>
    <p>En cas de bugs ou problèmes sur l'application peux tu nous en informer stp <a target="_blank" href="https://docs.google.com/spreadsheets/d/1J2RXF1a2l2z9zUl6oZHb3m2GfHQN5jKL0N7Usyu-o0k/edit#gid=0">ici</a></p>
    <p><a href="http://frama.link/panique-au-seum-it" target="_blank">M'inscrire à la Simul'action</a>
    </p>

    <h2>Le bénévolat</h2>
    <p>
      Le bon fonctionnement de notre camp est assuré par chaque participant.e. Pour cela, tu vas pouvoir choisir les tâches auxquelles tu souhaites participer : cuisine, brigade verte, communication, infirmerie.... Seulement pense aux copain.ne.s et inscris-toi sur différents pôles pour les laisser aussi profiter de certaines tâches plus attractives que d’autres. Nous t’invitons également à choisir les pôles de bénévolat en fonction de tes formations pour pouvoir mettre en pratique au maximum ce que tu auras appris. Le bénévolat, c'est une manière de se former et de monter en compétences dans différents domaines
    </p>
    <p>
      La jauge en haut de l'écran est là pour te guider sur la quantité de bénévolat que tu dois faire pour assurer le bon fonctionnement du camp.
      <br />Cette jauge se remplit à chaque fois que tu t'inscris à un créneau de bénévolat.
    </p>
    <x-progress-bar value=20></x-progress-bar>
    <p>
      Elle n'est pas pleine, tu dois t'inscrire à plus de créneaux de bénévolat.
    </p>
    <x-progress-bar value=100></x-progress-bar>
    <p>
      Elle indique 100%, bravo ! Tu as fait ta part.
    </p>
    <p>
      Une fois arrivé.e sur le camp tu ne pourras plus te désinscrire de tes créneaux de bénévolat. En cas de problème tu devras te rendre à l'Office du Militantisme.
    </p>
    <p>
      Tu as moins de 14 ans tu es exempté.e de bénévolat! Ta jauge  restera rouge mais ne t’en fais pas cela ne t’empêchera pas de t’inscrire aux différentes activités. Si bien sûr tu as envie de participer à des tâches tu peux t’y inscrire ;-) !
    </p>

    <h2>Mon rythme</h2>
    <p>
      La jauge d'activité, en haut à droite, est là pour t'encourager à garder un rythme soutenable.
    </p>
    <x-gauge min=0 max=10 value=0.5></x-gauge>
    <p>
      Trop à gauche, tu risques de t'ennuyer.
    </p>
    <x-gauge min=0 max=10 value=9.5></x-gauge>
    <p>
      Trop à droite, tu risque la surchauffe.
    </p>
    <x-gauge min=0 max=10 value=6></x-gauge>
    <p>
      Bravo !! tu as trouvé le bon équilibre !
    </p>

    <br /><br /><br />
    <p>
      Si tu es arrivé.e jusqu'ici tu peux t'inscrire <a id="next" href="#/x-informations">Je m'inscris</a>
    </p>
  </div>
</div>

<style>
  #content {
    width: 50rem;
  }

  #next {
    text-align: right;
    float: right;
    background: #7daf8a;
    padding: 13px 15px;
    border-radius: 0.3rem;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }


  x-progress-bar,
  x-gauge {
    max-width: 20rem;
    margin: 1.5rem auto 0.5rem auto;
    display: block;
  }
</style>
