<div id="printer">
  <h1>Impressions</h1>

  <p class="basictext">
    Cette page permet de récupérer les PDF regroupant toutes les feuilles pour
    l'organisation sur le camp climat. N'hésitez pas à faire des retours
    si cela peut vous aider, améliorer la qualité des fichiers, ou sauver un arbre en
    utilisant moins de papier ;-)
  </p>

  <h3>Impression des sessions de bénévolat pour un jour</h3>

  <div>
    <p class="loading" id="daysloading">Chargement en cours...</p>
    <p class="loading" id="sessionsloading" style="display: none">Création du PDF en cours...</p>
    <select class="boxlist" id="daysoptions"></select>
    <button class="download" id="downloadsessions">Télécharger</button>
  </div>

  <h3>Impression des sessions de formation par salle</h3>

  <div>
    <p class="loading" id="roomsloading" style="display: none">Création du PDF en cours...</p>
    <button class="download" id="downloadrooms">Télécharger</button>
  </div>

  <h3>Impression des plannings des référents</h3>

  <div>
    <p class="loading" id="referentsloading" style="display: none">Création du PDF en cours...</p>
    <button class="download" id="downloadreferents">Télécharger</button>
  </div>
</div>
<style>
  h1 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
  .basictext {
    text-align: justify;
  }
  #printer {
    margin: auto;
    max-width: 50rem;
    color: #34393F;
  }
  .download {
    text-align: right;
    background: #7daf8a;
    padding: 13px 15px;
    border-radius: 0.3rem;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .download:disabled {
    text-align: right;
    background: #A9A9A9;
    padding: 13px 15px;
    border-radius: 0.3rem;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .loading {
    background-color: #FCF550;
    text-align: center;
  }
</style>
