.container-content-centered {
  justify-content: center;
}

.space-between {
  justify-content: space-between !important;
}

.containerH {
  display: flex;
  /* justify-content: flex-start;*/
  align-items : stretch;
  overflow: hidden;
}

.containerV {
  display: flex;
  flex-direction: column;
  align-items : stretch;
  /* overflow-x: hidden; */
}

.containerV>.containerV
{
  flex-grow: 1;
  flex-shrink : 1;
}
.containerV>.containerH
{
  overflow: visible;
}


@media print {
  .scrollable {
    overflow-y: visible !important;
    overflow-x: visible !important;
  }

  .containerH {
    overflow: hidden !important;
  }
}
.scrollable
{
  overflow-y: auto !important;
  overflow-x: auto !important;
}

.grow{
  flex-grow:1;
}

.noShrink{
  flex-shrink:0;
}
