
* {
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: #7daf8a
}

a:hover{
  color: #087f49;
}

.box{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.30);
}

input[type=checkbox]{
  width:20px;
  height:20px;
}
