<div id="days">
  <x-days-list></x-days-list>
  <x-scroll-top></x-scroll-top>
</div>
<div id="sessions" style="flex-grow:1">
  <x-sessions-list></x-sessions-list>
</div>
<style>
  #days {
    min-width: 5rem;
    width: 5rem;
    position: fixed;
    top: 150px;
    height : 100%;
    z-index: 0;
  }

  #sessions {
    margin-left : 100px;
    top: 100px;
  }

  #print {
    display: block;
    margin-top: 3rem;
    margin-left: 0.5rem;

    text-decoration: none;
    text-align: center;
    background-color: #7daf8a;
    color: white;
    padding: 2px 6px 2px 6px;
    border: none;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;

  }

  #print:hover {
    cursor: pointer;
    background-color: #087f49;
  }
</style>
