<div class="containerH container-content-centered grow scrollable">
  <div class="agenda">
    <h5>Les lieux des activités (formation, bénévolat...) peuvent être amenés à changer. N'imprime ton planning que juste avant de venir au camp. Une fois sur le camp, pense à toujours vérifier tes lieux de rassemblement et salles sur l'application avant de t'y rendre (ou consulte les plannings affichés sur le camp).</h5>
    <h1>Mon planning pour le Camp Climat <button id="print" class="no-print">Télécharger</button></h1>

    <div id="sessions">
      ...
    </div>
  </div>
</div>

<style>
  h1 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
  .agenda {
    max-width: 50rem;
    color: #34393F;
  }

  #print {
    text-align: right;
    float: right;
    background: #7daf8a;
    padding: 13px 15px;
    border-radius: 0.3rem;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  #print:hover {
    background: #087f49;
    box-shadow: black 0 0 1px 0;
  }
  @media print {
    .no-print{
      display: none;
    }
  }
</style>
