<div id="gauge">
  <div id="gauge-container">
      <div id="gauge-value"></div>
      <div class="gauge-0"></div>
      <div id="gauge-label">Activité</div>
  </div>
</div>
<style>
  #gauge {
    height: 30px;
  }
  #gauge-container {
    position: relative;
    height: 15px;
    border: 1px solid #ccc;
    padding: 2px;
  }
  #gauge-value {
    position: relative;
    left: 50%;
    height: 100%;
    background: red;
    transition: all .3s;
  }
  .gauge-0 {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1px;
    height: 100%;
    background: #999;
  }
  #gauge-label {
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    text-align: center;
    margin-top: 5px;
  }
</style>