<div class="day"></div>
<div class="container containerH">
  <div class="assetDomain"></div>
  <div class="containerV" style="flex:1">
    <div class="containerH space-between">
      <div class="containerH">
        <div class="time" style="flex-shrink:0"></div>
        <div class="content title"></div>
      </div>
      <div class="containerH">
        <div class="role"></div>

      </div>
    </div>
    <div class="location"></div>
    <div class="abstract"></div>
    <div class="keySlot" class="hide"></div>
  </div>
  <div><a class="info" href-base="#/x-session-detail?session=" class="hide"></a></div>
</div>
<style>
  .content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .day {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.1rem;
    text-transform: capitalize;
  }

  .container {
    padding-bottom: 0.9rem;
    line-height: 1rem;
  }

  .empty {
    display: none;
  }

  .title {
    font-weight: bold;
  }

  .location {
    text-transform: capitalize;
  }

  .abstract {
    font-size: 0.9rem;
  }

  img {
    width: 40px;
    height: 40px;
  }
  .hide{
    display:none;
  }
</style>
