<div id="progress">
  <div id="progress-container">
      <div id="progress-value"></div>
      <div id="progress-label">Bénévolat: <span id="progress-real-value"></span></div>
  </div>
</div>
<style>
  #progress {
    height: 30px;
  }
  #progress-container {
    position: relative;
    height: 15px;
    border: 1px solid #ccc;
    padding: 2px;
  }
  #progress-value {
    height: 100%;
    transition: all .3s;
  }
  #progress-label {
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;
    overflow: visible;
  }
</style>