<fieldset>
  <legend>Mot de passe oublé</legend>
  <div id="errors"></div>
  <form id="forgot" method="post" autocomplete="on">
    <label for="login">Email : </label>
    <div class="flex">
      <input type="email" name="id" id="login" placeholder="email" autocomplete="username">
    </div>
    <input type="submit" id="submit">
  </form>
  <div id="success"></div>
</fieldset>
<style>
    #errors {
      color: red;
    }
    #success {
      color: #087f49;
    }
    fieldset {
      max-width: 25rem;
      margin: 1.8rem auto;
      border-radius: 0.3rem;
      font-family: sans-serif;
      line-height: 1.8rem;
      padding: 1.8rem;
      border: 1px solid darkgray;
      color: #202124;
    }
    legend {
      font-size: 1.4rem;
      padding: 0 1rem;
    }
    form {
      margin-top: 1rem;
    }
    label {
      display: block;
    }
    input {
      font-size: 1.4rem;
      display: block;
      border-radius: 0.3rem;
      border: 1px solid darkgray;
      padding: 13px 15px;
      margin-bottom: 2rem;
      flex-grow: 1;
      flex-shrink: 1;
    }
    #submit {
      text-align: right;
      float: right;
      background: #7daf8a;
      padding: 13px 15px;
      border-radius: 0.3rem;
      border: 0;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
    }
    #submit:hover {
      background: #087f49;
      box-shadow: black 0 0 1px 0;
    }
    .flex{
      display: flex;
    }
</style>
