<div class="containerH container-content-centered grow">
  <div class="containerV">
    <div class="header containerV">
      <div class="containerH space-between">
        <div>
          <h1>Fiche d'activité</h1>
        </div>
        <div><button id="print" disabled>Imprimer</button></div>
      </div>

      <div><h2 name="title"></h2></div>
      <div><h4 name="date"></h4></div>
      <div name="description">
      </div>
      <div class="containerH container-content-centered">
        <span>[</span>
        <div name="busyVolume"></div>
        <span>/</span>
        <div name="volume"></div>
        <span>]</span>
      </div>
    </div>
    <div id="user-list">
    </div>
  </div>

</div>

<template id="row">
  <div name="firstname"></div>
  <div name="lastname"></div>
  <div name="email"></div>
  <div name="tel"></div>
  <div name="origin"></div>
</template>
<style>
  #user-list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }

  .header {
    max-width: 40rem;
  }

  #print {
    float: right;
    text-align: right;
    background: #7daf8a;
    padding: 4px 5px;
    border-radius: 0.3rem;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }

  #print:disabled {
    text-align: right;
    background: #A9A9A9;
    padding: 4px 5px;
    border-radius: 0.3rem;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
</style>
