<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=yes">
  <title>Camp climat 2019 - Alternatiba</title>
  <link rel="icon" type="image/png" href="favico.png">
  <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="./<%= htmlWebpackPlugin.files.js[index] %>"></script>
  <% } %>
</head>
<body style="margin: 0;">
  <x-service-api></x-service-api>
  <x-service-sessions></x-service-sessions>
  <x-navigation>
    <style>
      <%=require('./style/containers.css') %>
      <%=require('./style/shared.css') %>
    </style>
  </x-navigation>
  <x-router default="x-registration-guide"></x-router>

</body>
<style>
<%=require('./style/colors.css') %>
</style>
</html>
