<ul id="days-list">

</ul>
<style>
  #days-list {
    padding: 0;
    margin: 0;
  }
  li {
    padding: 0.2rem 0rem 0.2rem 0.4rem;
    list-style-type: none;
    border-left: 4px solid transparent;
    transition: all 0.2s;

  }
  li.selected {
    border-left-color: #087f49;
    font-weight : bold;
  }
  .selected a {
    color: #087f49;
  }
  .specialBuild a{
    color:#eb5f41 !important;
  }

  li.selected.specialBuild{
    border-left-color: #eb5f41 !important;
  }

</style>
